* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.6;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}

h1,
h2 {
  margin: 0;
}

.main-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}
